main {
    border: 2px solid black;
    height: 90vh;
}

#mothership {
    background-color: black;
    margin: 5px auto;;
    width: 400px;
    height: 60px;
    
}

#defenceship {
    background-color: red;
    height: 60px;
    margin: auto 20px;
    display: inline-block;
    width: 200px;
}

#attackship {
    background-color: blue;
    height: 60px;
    width: 100px;
    display: inline-block;
    margin: auto 20px;
}